# 工作空间管理
link-workspace-packages=true # 启用工作空间包之间的自动链接，确保子项目可以直接使用工作空间中的其他包
shared-workspace-lockfile=true # 在根目录维护一个共享的锁文件，确保整个项目的依赖解析一致性
save-workspace-protocol=true # 添加工作空间内的包作为依赖时，使用 "workspace:" 协议前缀
prefer-workspace-packages=true # 优先使用工作空间中的包，而不是全局安装的包

# 严格模式设置
strict-peer-dependencies=true # 严格检查 peer 依赖，确保所有 peer 依赖都被正确安装，防止依赖冲突
engine-strict=true # 强制使用 package.json 中指定的包管理器（如 pnpm），防止使用其他工具

